@page
<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script src="~/signalr.js"></script>
    <script src="~/liveview.js"></script>
    <style>
        .status {
            width: 100px;
            height: 100px;
            border: 1px solid black;
            line-height: 100px;
            text-align: center;
            font-size: 60px;
        }
    </style>
</head>
<body>
<div>
    Live Equipment Status
</div>
</body>
</html>